header{
  background-color: lightgray;
  font-size:20px;
  padding:15px;
}
header, .form-group{
  margin-bottom: 3%;
}
.form-group{
  width:50%;
}
#body{
  margin-left:3%;
  margin-right:3%;
}
.form-control{
  margin: 8px;
}
#right_header{
  width:20%;
  font-size:15px;
  margin-right:0px;
}
#left_header{
  margin-left:0;
  width:40%;
  display:inline-block;
} 
#id {
  width:49%;
  display: inline-block;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}